<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                        <a href="/hostel/addGuests" class="btn  pull-right">Add Guests</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        age
                                    </th>
                                    <th>
                                        Join data
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        edit
                                    </th>
                                    <th>
                                        edit
                                    </th>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>
                                            {{@index}}
                                        </td>
                                        <td>
                                            {{this.Guestname}}
                                        </td>
                                        <td>
                                            {{this.age}}
                                        </td>
                                        <td>
                                            {{this.DateOfJoin}}
                                        </td>
                                        <td class="text-primary">
                                            {{this.mobile}}
                                        </td>
                                        <td>
                                            hello
                                        </td>
                                        <td>
                                            hello
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>