<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Active Guests</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                        <a href="/hostel/addGuests" class="btn  pull-right">Add Guests</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Join Date
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        RoomNo
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Vacate
                                    </th>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>
                                            {{@index}}
                                        </td>
                                        <td>
                                            {{this.Guestname}}
                                        </td>
                                        <td>
                                            {{this.DateOfJoin}}
                                        </td>
                                        <td class="text-primary">
                                            {{this.mobile}}
                                        </td>
                                        <td>
                                            {{RoomNo}}
                                        </td>
                                        <td>
                                            {{this.status}}
                                        </td>
                                        <td>
                                            <a href="/hostel/vacateGuest/{{this._id}}" type="button"
                                                class="btn btn-outline-primary btn-sm">Vacate</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Vacated Guests</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                        <a href="/hostel/addGuests" class="btn  pull-right">Add Guests</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Join Date
                                    </th>
                                    <th>
                                        Mobile
                                    </th>
                                    <th>
                                        RoomNo
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Vacate
                                    </th>
                                </thead>
                                <tbody>
                                    {{#each vacated}}
                                    <tr>
                                        <td>
                                            {{@index}}
                                        </td>
                                        <td>
                                            {{this.Guestname}}
                                        </td>
                                        <td>
                                            {{this.DateOfJoin}}
                                        </td>
                                        <td class="text-primary">
                                            {{this.mobile}}
                                        </td>
                                        <td>
                                            {{RoomNo}}
                                        </td>
                                        <td>
                                            {{this.status}}
                                        </td>
                                        <td>
                                            <a href="/hostel/vacateGuest/{{this._id}}" type="button"
                                                class="btn btn-outline-primary btn-sm">Vacate</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>