<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                        <a href="/hostel/addRooms" class="btn  pull-right">Add Rooms</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>

                                    </th>
                                    <th>
                                        Room
                                    </th>
                                    <th>
                                        Total Space
                                    </th>
                                    <th>
                                        Free space
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    {{!-- <th>
                                        Mobile
                                    </th> --}}
                                    <th>
                                        Room Type
                                    </th>
                                    <th>
                                        Floor NO
                                    </th>
                                    <th>
                                        more
                                    </th>
                                </thead>
                                <tbody>
                                    {{#each hostelInfos}}
                                    <tr>
                                        <td>
                                            {{@index}}
                                        </td>
                                        <td>
                                            {{this.roomNo}}
                                        </td>
                                        <td>
                                            {{this.roomCapacity}}
                                        </td>
                                        <td>
                                            {{this.roomFree}}
                                        </td>
                                        <td>
                                            {{this.gender}}
                                        </td>
                                        <td>
                                            {{this.bedType}}
                                        </td>
                                        <td>
                                            {{floorNo}}
                                        </td>
                                        <td>
                                            <a type="button" href="/hostel/deleteRoom/{{this._id}}" class="btn btn-primary btn-sm">Vacate</a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>